<style>

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f2f3f5;
        animation: fadeEffect 0.5s;
    }

    .container-fluid {
        width: 100%;
        overflow: hidden;
    }

    .container {
        width: 100%;
        margin-top: 3em;
    }

    .table-hover > tbody > tr:hover {
        background-color: #f5f5f5;
    }

    @media screen and (max-width: 767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }
    }
</style>

<body>
    <div header-Page>
    </div>
    <div class="container-fluid" id="container">

        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>My Order</h2>

                    <div>
                        <div ng-repeat="c in myOrderLst">
                            <button class="accordion" data-ng-click="c.active = !c.active" data-ng-class="{'active': c.active}">{{c.CustomerOrderNo}}</button>
                            <div class="panel">
                                <td><a href="/OrderDetails/{{c.CustomerOrderId}}" type="button" class="btn btn-success btn-xs">{{c.CustomerOrderNo | limitTo : -6}}</a></td>
                                {{c.Size}}<br />
                                {{c.Weight}}<br />
                                {{c.ValueOfGood}}<br />
                                {{c.OrderDetailText}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



 

    <div footer-Page>

    </div>



</body>
<style>
    button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

button.active + div.panel {
  opacity: 1;
  max-height: 500px;
}
</style>